---
import Layout from "../../layouts/Layout.astro";
import { allScenes } from "../../../backend/backend.mjs";
import LieuBlanc from "../assets/icons/lieublanc.svg";

const { id } = Astro.params;
// utilisation d'un type any pour éviter les erreurs de propriété
const scenes: any = await allScenes();
---

<Layout titre={scenes.nom}>
    <div
        class="pl-20 mt-10 w-full max-w-4xl mx-auto p-6 rounded-xl border border-brandingblue text-center shadow-md"
    >
        <h1>{scenes.nom}</h1>
        <p>
            <LieuBlanc class="w-5 h-5" alt="Icône lieu " Capacité />{
                scenes.capacite
            }
            <p>{scenes.presentation}</p>
            <p>{scenes.description}</p>
        </p>
    </div>
</Layout>
