---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Cards from "../../components/Cards.astro";
import {getArtisteName } from "../../../backend/backend.mjs";

// récupérer la liste des scènes au moment du build
const artiste = await getArtisteName();
console.log(artiste);
---

---

<Layout title="Artiste">
    <h1>Artistes</h1>
    <p class="base text-grey-2 pl-20 mt-5">
        Découvrez tous les artistes du festival
    </p>
    <div>
        {artiste.map((artiste) => <Cards />)}
    </div>
</Layout>
