---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Artistes">
    <h1>Artistes</h1>
    <p class="base text-grey-2 pl-20 mt-5">
        Découvrez tous les artistes du festival
    </p>
</Layout>
