---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not Found">
    <h1 class="mt-5">404</h1>
    <h2 class="text-center">Page introuvable</h2>
    <img src="/src/assets/icons/recherche.svg" alt="Image d'erreur 404" style="width: 200px; height: auto; margin: 20px auto; display: block;" />
    <p class="text-center">Oups ! La page que vous recherchez semble s'être envolée avec nos drones. Elle n'existe pas ou a été déplacée.</p>
    <a href="/" 
       class="mt-5 flex-col  justify-center min-h-screen relative flex items-center gap-3 bg-[#1a3ac9] text-white px-10 py-3 rounded-full text-lg">
        <img src="/src/assets/icons/home.svg" class="w-6 h-6" alt="Home">
        Retour à l'accueil
    </a>

<div class="flex justify-center items-center gap-4 mb-6">
    <img src="/src/assets/icons/rondbleu.svg">
    <img src="/src/assets/icons/rondrose.svg">
    <img src="/src/assets/icons/rondturquoise.svg">
</div>
