---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { Image } from "astro:assets";
---

<Layout>
	<Hero />
	<div class="flex items-center pl-20 mt-5">
		<h1 class="text_degrede">FlyTapFest</h1>
		<Image
			src="src/assets/img/chaussure.avif"
			alt="Image d'exemple d'un spectacle de drone"
			style="width: 600px; height: auto; margin-left: auto; margin-right: 0;"
		/>
	</div>
		<h2 class="text-darkblue">Festival de claquettes</h2>
	<p>Fusion entre claquettes traditionnelles et spectacle de drones lumineux</p>
	<div class="">
	<p> <img class="inline align-middle mr-3" src="/src/assets/icons/calendrier.svg" alt="Calendrier" />6-7 juin 2026</p>
	<p> <img class="inline align-middle mr-3" src="/src/assets/icons/lieu.svg" alt="Localisation" /> Parc du Près-la-Rose, Montbéliard</p>
	</div>
</Layout>
