---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Info pratiques">
    <h1>Info pratiques</h1>
    <p class="base text-grey-2 pl-20 mt-5">Toutes les informations utiles</p>
    <h2 class="text-brandingblue pl-5 mt-15">Tarifs</h2>
    <div class="grille3_1">
        <div
            class="relative mt-6 w-full max-w-xs sm:max-w-sm md:max-w-md rounded-2xl border border-darkblue bg-[#020617] p-7 shadow-lg shadow-blue-950/30"
        >
            <div
                class="absolute -top-px -right-px bg-darkblue text-brandingblue px-7 py-2.5 rounded-tr-2xl rounded-bl-xl text-2xl font-bold tracking-tight shadow-md"
            >
                85<span class="text-xl font-semibold">€</span>
            </div>
            <div
                class="flex items-center gap-3 text-white text-2xl font-bold mt-2"
            >
                Pass 2 jours
            </div>
            <div class="flex items-center gap-2.5 text-grey-4text-lg mt-4">
                <span> Accès illimité aux 3 scènes</span>
            </div>
        </div>
        <div
            class="relative mt-6 w-full max-w-xs sm:max-w-sm md:max-w-md rounded-2xl border border-darkblue bg-[#020617] p-7 shadow-lg shadow-blue-950/30"
        >
            <div
                class="absolute -top-px -right-px bg-darkblue text-brandingblue px-7 py-2.5 rounded-tr-2xl rounded-bl-xl text-2xl font-bold tracking-tight shadow-md"
            >
                50<span class="text-xl font-semibold">€</span>
            </div>
            <div
                class="flex items-center gap-3 text-white text-2xl font-bold mt-2"
            >
                Billet 1 jour
            </div>
            <div class="flex items-center gap-2.5 text-grey-4text-lg mt-4">
                <span> Scène Céleste</span>
            </div>
        </div>
        <div
            class="relative mt-6 w-full max-w-xs sm:max-w-sm md:max-w-md rounded-2xl border border-darkblue bg-[#020617] p-7 shadow-lg shadow-blue-950/30"
        >
            <div
                class="absolute -top-px -right-px bg-darkblue text-brandingblue px-7 py-2.5 rounded-tr-2xl rounded-bl-xl text-2xl font-bold tracking-tight shadow-md"
            >
                40<span class="text-xl font-semibold">€</span>
            </div>
            <div
                class="flex items-center gap-3 text-white text-2xl font-bold mt-2"
            >
                Tarif réduit
            </div>
            <div class="flex items-center gap-2.5 text-grey-4text-lg mt-4">
                <span> Scène Prinipale</span>
            </div>
        </div>
        <div
            class="relative mt-6 w-full max-w-xs sm:max-w-sm md:max-w-md rounded-2xl border border-darkblue bg-[#020617] p-7 shadow-lg shadow-blue-950/30"
        >
            <div
                class="absolute -top-px -right-px bg-darkblue text-brandingblue px-7 py-2.5 rounded-tr-2xl rounded-bl-xl text-2xl font-bold tracking-tight shadow-md"
            >
                Gratuit<span class="text-xl font-semibold"></span>
            </div>
            <div
                class="flex items-center gap-3 text-white text-2xl font-bold mt-2"
            >
                Tarif enfant
            </div>
            <div class="flex items-center gap-2.5 text-grey-4text-lg mt-4">
                <span> Scène Innovation</span>
            </div>
        </div>
    </div>
</Layout>
