---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Montbeliard from "../assets/img/montbeliard.avif";
import Instagram from "../assets/icons/insta.svg";
import Facebook from "../assets/icons/facebook.svg";
import LieuBlanc from "../assets/icons/lieublanc.svg";
import Tel from "../assets/icons/tel.svg";
import Mail from "../assets/icons/mail.svg";
---

<footer class="mt-16">
    <p
        class="text_degrede text-6xl font-normal font-display text-center space-y-6 mb-5"
    >
        FlyTapFest
    </p>
    <p class="font-sans text-3xl text-center font-semibold">6-7 juin 2026</p>
    <address class="font-sans text-base">
        <div class="flex items-center justify-end gap-2 pr-6">
            <LieuBlanc alt="Lieu" class="w-5 h-5" />
            <p>Parc du Près-la-Rose, Montbéliard</p>
        </div>

        <div class="flex items-center justify-end gap-2 pr-6">
            <Tel alt="Téléphone" class="w-5 h-5" />
            <p>+33 1 23 45 67 89</p>
        </div>

        <div class="flex items-center justify-end gap-2 pr-6">
            <Mail alt="Email" />
            <p>contact@flytapfest.fr</p>
        </div>
    </address>
    <div>
        <p class="pl-20 font-sans 2xl">En partenariat avec</p>
        <p class="pl-20 font-sans 2xl text-neonpurple mb-4">
            Ville de Montbéliard
        </p>
        <Image
            src={Montbeliard}
            alt="Logo de la ville de Montbéliard"
            style="width: 121px; height: 54px; margin-left: 80px  "
        />
    </div>
    <div class="flex justify-center gap-4 mt-4 mb-4">
        <Instagram alt="Instagram" />
        <Facebook alt="Facebook" />
    </div>
    <p class="pl-190 text-grey-4">© 2026 FlyTapFest. Tous droits réservés.</p>
</footer>
