---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<header class="bg-black">
    <div class="flex items-center justify-between py-4 px-2">
       <a href="/">
        <Image
            src="src/assets/icons/logo.svg"
            alt="Logo de FlyTapFest"
            style="width: 150px; height: 50px"
        />
        <nav><ul class="flex space-x-4">
            <li><a href="/" class="text-white hover:text-neonpurple">Accueil</a></li>
            <li><a href="src/pages/festival.astro" class="text-white hover:text-neonpurple">Le festival</a></li>
            <li><a href="src/pages/programme.astro" class="text-white hover:text-neonpurple">Programme</a></li>
            <li><a href="src/pages/artistes.astro" class="text-white hover:text-neonpurple">Artistes</a></li>
            <li><a href="src/pages/scenes.astro" class="text-white hover:text-neonpurple">Scènes</a></li>
            <li><a href="src/pages/info-pratiques.astro" class="text-white hover:text-neonpurple">Info pratiques</a></li>
            <li><a href="src/pages/contact.astro" class="text-white hover:text-neonpurple">Contact</a></li>
        </ul></nav>
    </div>
</header>
